html do
    body do
        div do
            !id = "car"
            !name = "test"
            "something"
            div do
                "test"
                for [1, 10].each do
                    h1 do
                        iter
                        "car"
                        iter
                    end
                end
            end
        end
        img do
        end
        for [1, 10].each do
            h1 do
                iter
                "car"
                iter
            end
        end
        div do
            "hey"
        end
        ul do
            for ["b", "c"].each do
                li do
                    iter
                end
            end
        end
    end
end